In [1]:
import pandas as pd
import holidays
from datetime import date

In [2]:
INPUT_DATA_FOLDER = "../data"
REPORTS_DATA_FILE = "ISW_vector.csv"

OUTPUT_FOLDER = "../data/all_data_preprocessed"
ISW_OUTPUT_DATA_FILE = "all_isw.csv"
ALARMS_OUTPUT_DATA_FILE = "all_alarms.csv"
WEATHER_EVENTS_OUTPUT_DATA_FILE = "all_weather_by_hour.csv"
MERGED_OUTPUT_DATA_FILE = "weather_regions_alarms_merged.csv"
ALL_MERGED_DATA_FILE = "all_merged"

MODEL_FOLDER = "model"

tfidf_transformer_model = "tfidf_transformer"
count_vectorizer_model = "count_vectorizer"

tfidf_transformer_version = "v1"
count_vectorizer_version = "v1"

In [3]:
df = pd.read_parquet(f"{OUTPUT_FOLDER}/{ALL_MERGED_DATA_FILE}.parquet")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622057 entries, 0 to 622056
Columns: 1039 entries, day_datetimeEpoch to 999
dtypes: float64(1030), int64(9)
memory usage: 4.8 GB

In [5]:
df['timestamp'] = pd.to_datetime(df['hour_datetimeEpoch'], unit='s').dt.strftime('%Y-%m-%d %H:%M:%S')

In [6]:
df['timestamp']= pd.to_datetime(df['timestamp'])

In [7]:
df = df.set_index(['timestamp','region_id' ])
duplicates = df.index.duplicated(keep=False)
df = df[~df.index.duplicated(keep='first')]
df.reset_index(inplace=True, drop=False)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596712 entries, 0 to 596711
Columns: 1040 entries, timestamp to 999
dtypes: datetime64[ns](1), float64(1030), int64(9)
memory usage: 4.6 GB

In [9]:
df[['event_all_region', 'timestamp']]

        event_all_region           timestamp
0                    0.0 2022-02-24 22:00:00
1                    0.0 2022-02-24 23:00:00
2                    0.0 2022-02-25 00:00:00
3                    0.0 2022-02-25 01:00:00
4                    0.0 2022-02-25 02:00:00
...                  ...                 ...
596707               1.0 2025-03-01 17:00:00
596708               1.0 2025-03-01 18:00:00
596709               1.0 2025-03-01 19:00:00
596710               1.0 2025-03-01 20:00:00
596711               1.0 2025-03-01 21:00:00

[596712 rows x 2 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596712 entries, 0 to 596711
Columns: 1040 entries, timestamp to 999
dtypes: datetime64[ns](1), float64(1030), int64(9)
memory usage: 4.6 GB

In [11]:
hours = [1, 2, 3, 6, 12, 18, 24]

In [12]:
for h in hours:
    df = df.sort_values(by=['region_id', 'timestamp'])

    df_shifted = df[['region_id', 'timestamp', 'event_all_region']].copy()
    df_shifted['timestamp'] = df_shifted['timestamp'] + pd.Timedelta(hours=h)
    df_shifted = df_shifted.rename(columns={'event_all_region': f'event_{h}h_ago'})

    df = df.merge(df_shifted, on=['region_id', 'timestamp'], how='left')

    df[f'event_{h}h_ago'] = df[f'event_{h}h_ago'].fillna(0).astype(int)

In [13]:
df[['event_1h_ago','timestamp','region_id','event_all_region']]

        event_1h_ago           timestamp  region_id  event_all_region
0                  0 2022-02-24 22:00:00          2               0.0
1                  0 2022-02-24 23:00:00          2               0.0
2                  0 2022-02-25 00:00:00          2               0.0
3                  0 2022-02-25 01:00:00          2               0.0
4                  0 2022-02-25 02:00:00          2               0.0
...              ...                 ...        ...               ...
596707             0 2025-03-01 17:00:00         25               0.0
596708             0 2025-03-01 18:00:00         25               0.0
596709             0 2025-03-01 19:00:00         25               0.0
596710             0 2025-03-01 20:00:00         25               0.0
596711             0 2025-03-01 21:00:00         25               1.0

[596712 rows x 4 columns]

In [14]:
df.drop('timestamp', axis=1, inplace=True)

In [15]:
df.to_parquet(f"{OUTPUT_FOLDER}/{ALL_MERGED_DATA_FILE}.parquet", index=False, engine="pyarrow")

In [16]:
df

,region_id,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,day_solarradiation,...,997,998,999,event_1h_ago,event_2h_ago,event_3h_ago,event_6h_ago,event_12h_ago,event_18h_ago,event_24h_ago
0,2,1645740000,7.2,-1.0,2.6,-1.8,74.2,0.0,0.00,143.9,...,0.504,0.477,0.611,0,0,0,0,0,0,0
1,2,1645740000,7.2,-1.0,2.6,-1.8,74.2,0.0,0.00,143.9,...,0.504,0.477,0.611,0,0,0,0,0,0,0
2,2,1645740000,7.2,-1.0,2.6,-1.8,74.2,0.0,0.00,143.9,...,0.504,0.477,0.611,0,0,0,0,0,0,0
3,2,1645740000,7.2,-1.0,2.6,-1.8,74.2,0.0,0.00,143.9,...,0.504,0.477,0.611,0,0,0,0,0,0,0
4,2,1645740000,7.2,-1.0,2.6,-1.8,74.2,0.0,0.00,143.9,...,0.504,0.477,0.611,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596707,25,1740780000,0.6,-2.4,-0.7,-2.8,86.3,2.0,4.17,41.0,...,0.556,0.555,0.734,0,0,0,0,0,1,1
596708,25,1740780000,0.6,-2.4,-0.7,-2.8,86.3,2.0,4.17,41.0,...,0.556,0.555,0.734,0,0,0,0,0,1,1
596709,25,1740780000,0.6,-2.4,-0.7,-2.8,86.3,2.0,4.17,41.0,...,0.556,0.555,0.734,0,0,0,0,0,1,1
596710,25,1740780000,0.6,-2.4,-0.7,-2.8,86.3,2.0,4.17,41.0,...,0.556,0.555,0.734,0,0,0,0,0,1,0
596711,25,1740780000,0.6,-2.4,-0.7,-2.8,86.3,2.0,4.17,41.0,...,0.556,0.555,0.734,0,0,0,0,0,1,1